* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

img {
    width: 100%;
}

/* green rgb(0,128,55) */
.menu-btn {
    display: none;
}

.main-layout {
    margin: auto auto;
    height: 100vh;
    max-width: 1560px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    grid-template-areas:
        'nav'
        'main';
    border-radius: 7%;
    box-shadow: -1px 1px 174px 84px rgba(0, 128, 55, 0.6);
    -webkit-box-shadow: -1px 1px 174px 84px rgba(0, 128, 55, 0.6);
    -moz-box-shadow: -1px 1px 174px 84px rgba(0, 128, 55, 0.6);
    overflow-y: scroll;
}

.nav-bar {
    grid-area: nav;
    background-color: black;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'logo nav-btns';
}

.logo {
    grid-area: logo;
    height: 250px;
}



.nav-btns {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    transition: 2s hover;
}

.nav-btns>*:hover {
    color: green;
}

.nav-btns>* {
    border: 2px solid rgb(231, 229, 229);
    padding: 15px;
    color: white;
}


.main-content {
    grid-area: main;
    /* background-color: beige */
}

.gallery-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
    gap: 10px;
}


.card {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: width 0.5s;
    box-shadow: -1px 1px 28px 9px rgba(0, 128, 55, 0.6);
    -webkit-box-shadow: -1px 1px 28px 9px rgba(0, 128, 55, 0.6);
    -moz-box-shadow: -1px 1px 28px 9px rgba(0, 128, 55, 0.6);
    padding: 2px;
}

.card:hover {
    width: 170px;
}


#meme-canvas {
    grid-area: canvas;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    width: 500px;
    /* object-fit:fill; */

    /* place-itemss: center; */
}

.options *{
    text-decoration: none;
    background-color: transparent;
    border: none;
    justify-content: flex-end;
    color: inherit;
    font-size: 1.5rem;
}
.upload-img{
    width: 20px;
    padding: 0;
}

.image-upload>input {
    display: none;
  }

.editor-container {
    background-color: #303030;
    /* background-color: rgba(0,128,55,0.74); */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'canvas edit';
}

.meme-editor {
    grid-area: edit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'txt share';
}

.text-controller {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    grid-area: txt;
}

.text-input {
    flex-direction: 70%;
    margin: 10px auto;
}

.color-input {
    margin: 0;
}

.text-buttons>* {
    height: 30px;
    width: 50px;
}

.line-controller {
    grid-area: linecnt;
    margin: 10px auto;
    text-align: center;

}

.nav-bar * {
    border: none;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar *:hover {
    border: none;
    color: rgb(142, 232, 142);
}


.my-memes {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
    gap: 10px;
}

.btn {
    text-decoration: none;
    background-color: green;
    border: 3px solid black;
    width: 150px;
    height: 25px;
    color: white;
}

.link {
    margin-top: 10px;
}

.user-msg {
    margin-top: 10px;
}

.menu-btn {
    margin: auto;
    background-color: transparent;
    color: white;
    border: none;
    padding-bottom: 30px;
    font-size: 4rem;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}

.text-buttons>* {
    height: 100%;
}

.editor-btn {
    object-fit: contain;
}

.image-btn{
    background-color: transparent;
    height: 30px;
    border: none;
    padding: 0px;
    /* background-color: green; */
    /* width: 50px; */
}

.text-buttons button{
    background-color: transparent;
    border: none;
}
.text-buttons input{
    background-color: transparent;
    border: none;
    height: 30px;
}
.line-controller button {
    background-color: transparent;
    border: none;
}

@media (max-width:560px) {
    .nav-bar {
        position: fixed;
        width: 100%;
        height: 20%;
    }

    .main-layout {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-btn {
        display: inline;
        grid-area: nav-btns;
    }

    .nav-btns {
        position: fixed;
        top: 180px;
        right: 0px;
        transform: translateX(200%);
        width: 70%;
        height: 100%;
        background-color: rgb(0, 128, 55);
        flex-direction: column;
        transition: transform 1s;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-btns>* {
        margin-top: 20px;
        border: none;
        padding: 0px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
        font-size: 3rem;

    }

    .main-layout.menu-open {
        overflow-y: hidden;
    }

    .main-layout.menu-open .gallery-container {
        opacity: 0.03;
    }

    .main-layout.menu-open .editor-container {
        opacity: 0.03;
    }

    .main-layout.menu-open .nav-btns {
        transform: translateX(0%);
    }

    .editor-container {
        display: flex;
        flex-direction: column-reverse;
    }

    #meme-canvas {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        grid-area: edit;
    }
}

.hide {
    display: none;
}