* {
    box-sizing: border-box;
}

body {
    /* background-color: #FDB275; */
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
}

img {
    width: 100%;
}


/* MAIN LAYOUT */
.main-layout {
    /* max-width: 1560px; */
    margin: auto auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        'nav'
        'main'
        'footer';
}

/* NAV BAR */

.nav-bar {
    grid-area: nav;
    background-color: #FDB275;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'logo nav-btns';
}

.logo {
    grid-area: logo;
    display: grid;
    place-items: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ff726f;
    justify-content: start;
    margin-left: 35px;
    cursor: pointer;
}

.menu-btn {
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 4rem;
}


.nav-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-btns li {
    padding: 35px;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar li:hover {
    color: #ff726f;
}



/* MAIN CONTENT */

.main-content {
    grid-area: main;
}

/* gallery */

.gallery-container {
    /* background-color: #28282bd7; */
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
    gap: 10px;
}

.card {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: transform .2s;
    padding: 2px;
}

.card:hover {
    transform: scale(1.1);
}


/* editor */

.editor-container {
    /* background-color: #28282bd7; */
    /* background-color: beige; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 0.4fr;
    grid-template-areas:
        'canvas controller'
        'canvas share';
}

.meme-controller {
    margin-top: auto;
    grid-area: controller;
    display: grid;
    place-items: center;
}

.meme-inputs {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    outline: 10px ridge #e6e3e3;
    outline-offset: 4px;
    /* background-color: #ff726f; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-template-rows: repeat(autofit, 50px);
}

.meme-inputs>* {
    height: 50px;
    border: none;
    background-color: transparent;
}

.controller-input {
    grid-column: 1/-1;
    border-radius: 22px;
    background-color: white;
    padding: 8px;
    border: 2px solid black;
}

.font-select {
    grid-column: span 4;
    background-color: white;
    font-size: 30px;
    border-radius: 22px;
    text-align: center;
    border: 2px solid black;

}

.meme-options {
    grid-area: share;
    display: grid;
    place-items: center;
}

#meme-canvas {
    grid-area: canvas;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    width: 500px;
}

.meme-options button,
a {
    text-decoration: none;
    border: none;
    justify-content: flex-end;
    text-align: center;
    color: inherit;
    font-size: 1.5rem;
    width: 200px;
    font-size: 1.3em;
    padding: 10px 20px;
    box-shadow: 1px 6px 0 #beafaf, inset 0 20px 0 #ffffff36;
    border-radius: 15px;
    height: 43px;
    margin-top: 15px;
}


.image-upload {
    background-color: lightcyan;
    width: 200px;
    text-align: center;
    font-size: 1.3em;
    padding: 10px 20px;
    box-shadow: 1px 6px 0 #beafaf, inset 0 20px 0 #ffffff36;
    border-radius: 15px;
    height: 43px;
    margin-top: 15px;
}

.image-upload>input {
    display: none;
}


.text-input {
    margin: 10px auto;   
    font-size: 25px;
    border-radius: 22px;
    width: 250px;
}

.color-input {
    margin: 0;
}

.text-buttons>* {
    height: 30px;
    width: 50px;
}

.line-controller {
    grid-area: linecnt;
    margin: 10px auto;
    text-align: center;

}

.my-memes {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
    gap: 10px;
}

.link,
.user-msg {
    margin-top: 35px;
}


.btn {
    background-color: lightblue;
}

.image-btn {
    background-color: transparent;
    height: 30px;
    border: none;
    padding: 0px;
}

.share-btn {
    background-color: lightblue;
}

.save-btn {
    background-color: aquamarine;
}

.download-btn {
    display: inline-block;
    background-color: #ff726f;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FDB275;
    text-align: center;
    grid-area: footer;
    color: #ff726f;
}

@media (max-width:780px) {
    .gallery-container {
        overflow-y: scroll;
    }

    .nav-bar {
        position: fixed;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .menu-btn {
        display: inline-block;
    }

    .main-layout {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }

    .editor-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            'canvas'
            'controller'
            'share';
    }

    #meme-canvas {
        max-width: 90%;
    }

    .nav-btns {
        position: fixed;
        top: 80px;
        right: 0px;
        transform: translateX(200%);
        width: 70%;
        height: 100%;
        background-color: #FFFFF9;
        flex-direction: column;
        transition: transform 1s;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-btns li {
        margin-top: 20px;
        color: #ff726f;
        border: none;
        padding: 0px;
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    .main-layout.menu-open {
        overflow-y: hidden;
    }

    .main-layout.menu-open .nav-btns {
        transform: translateX(0%);
    }
}

.hide {
    display: none;
}